@font-face {
  font-family: "Hagrid";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Hagrid-Regular.woff2") format("woff2"), url("../fonts/Hagrid-Regular.woff") format("woff");
}


@font-face {
  font-family: "Hagrid Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/HagridText-Regular.woff2") format("woff2"), url("../fonts/HagridText-Regular.woff") format("woff");
}

